/* header */
li{
    color: #b4851d;
}
h2{
    color:rgb(255, 255, 255);
}
/* header */
li{
    font-size: 35px;
    display: inline;
    margin: 10px;
}
/* cabecalho */
#cab{
    margin-left: 79%;
    
}
.titulo{
    margin-left: -30px;;
    margin-right: 75%;
}
.nome{
    color:#b4851d;
    margin-top: -20px;
    margin-bottom: -20px;
}
/* linha que separa o header do body */
hr{
    border: 2px solid #b4851d;
}
/* Projects */
.pj{
    color:#b4851d;
    text-align: center;
}
/* about */
.abt{
    color:#b4851d;
    text-align: center;
}
/* troca cor de todas as redes sociais e linguagens */
.fa-brands,.fa-solid,.orange{
    color: #b4851d;
}
.white{
    color: white;
}
.introducao{
    font-size: 25px;
    margin-top: 5%;
    margin-left: 10%;
}
/*.foto{
    border-radius: 50%;
    margin-left: 1000px;
}*/